.navbar {
  background-color: rgba(63, 11, 78, 0.286);
  border-radius: 50px;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  margin-top: 20px;
}
.navbar h1 {
  font-size: 2rem;
}
.navbar .list li {
  display: inline;
  padding: 0.5rem;
}
.navbar .list li a {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  transition: 0.5s;
}
.navbar .list li a:hover {
  filter: brightness(0.8);
}
